<%= form_with(model: @runner, local: true) do |form| %>
  <% if @runner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runner.errors.count, "error") %> prohibited this runner from being saved:</h2>
  
      <ul>
        <% @runner.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :attribute1 %>
    <%= form.text_field :attribute1 %>
  </div>
  
  <div class="field">
    <%= form.label :attribute2 %>
    <%= form.text_field :attribute2 %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
  